extends ../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")
				
block content
	.page-header
		h1 Gallery

	if galleries.length
		-- console.log('galleries', galleries)
		each gallery, i in galleries
			h3
				| #{gallery.name} 
				//small.text-muted= gallery._.publishedDate.format('Do MMM YYYY')
			
			.row
				-- console.log(gallery.images)

				.col-xs-4.col-sm-3.col-md-2(style="margin-bottom: 30px;")
					a(href='gallery/' + gallery.key, title=gallery.name + ' image ' + (i + 1), rel=gallery.key).gallery-image
						| #{ gallery.name}
						img(src=gallery.images.filename).img-thumbnail

	else
		.jumbotron.text-center
			h3(style="margin-bottom:0;margin-top:0;") There are no albums yet.


block page-js