mixin post(post)
	article(data-ks-editable=editable(user, { list: 'Post', id: post.id, image: post.image.filename })).media
		div
		img(src=post.image.filename).media-object
		div
		.media-left
			a(href='/blog/post/' + post.key)
				if '/uploads/images/' + post.image.filename.exists
					img(src='/uploads/images/' + post.image.filename).media-object
				else
					img(src="http://placehold.it/80x80").media-object
		.media-body
			h3.media-heading
				a(href='/blog/post/' + post.key)= post.name
			if post.publishedDate || post.author
				p.text-muted.text-small
					if post.publishedDate
						time= post._.publishedDate.format('MMMM Do, YYYY')
						|  
					if post.author
						span by #{post.author.name.full}
			!= post.content.brief
