extends layout.pug

block content

    .article
        h1.under-line= viewModel.post.name
        div.article-body
            if (viewModel.post.image.filename && '/uploads/posts/img/' + viewModel.post.image.filename.exists)
                img(src='/uploads/posts/img/' + viewModel.post.image.filename).main-img
            div.content
                | !{viewModel.post.content.full}


        if (viewModel.post.urls.length)
            .files-download
                | Файлы для скачивания:

                each url, i in viewModel.post.urls
                    a(href=url) !{ siteUtils.getUrlTitle(url, 'Скачать файл') }

    .article-footer
        h2.relatedpost Похожие статьи
        .related-content
            each relatedPost, i in viewModel.relatedPosts
                a(href=relatedPost.key)
                    img(src='/uploads/users/img/' + relatedPost.author.photo.filename)
                    div.relatedtitle= relatedPost.name
            .clear

    include partial/blog-comments.pug



