extends layout.pug

mixin file-field(field)
    if (field.filename)
        .file-info Имя файла: #{field.originalname}
        .file-info размер, мб: #{ (field.size / 1000 / 1000).toFixed(2) }
        audio(controls  preload="none")
            source(src=siteConst.path.file_posts + field.filename, type=field.mimetype)
            | Тег audio не поддерживается вашим браузером.
            <a href=#{siteConst.path.file_posts + field.filename}>Скачайте файл</a>.



block content
    //-- console.log(viewModel.post)
    .article
        h1.under-line= viewModel.post.name
        div.article-body
            if (viewModel.post.image.filename && siteConst.path.image_posts + viewModel.post.image.filename.exists)
                img(src=siteConst.path.image_posts + viewModel.post.image.filename).main-img
            div.content
                | !{viewModel.post.content.full}

        .files-audio
            +file-field(viewModel.post.file0)
            +file-field(viewModel.post.file1)
            +file-field(viewModel.post.file2)
            +file-field(viewModel.post.file3)


        if (viewModel.post.urls.length)
            .files-audio
                each url, i in viewModel.post.urls
                    .file-info Имя файла: #{siteUtils.getUrlTitle(url, siteUtils.getFileNameFromPath(url))}
                    audio(controls  preload="none")
                        source(src=url, type="audio/mpeg")
                        | Тег audio не поддерживается вашим браузером. 
                        <a href=#{url}>Скачайте файл</a>.

            .files-download
                | Файлы для скачивания:

                each url, i in viewModel.post.urls
                    a(href=url) !{ siteUtils.getUrlTitle(url, 'Скачать файл') }

        .podfm-audio
            if (viewModel.post.urls.length === 0 && viewModel.post.urlsPodfm.length)
                each url, i in viewModel.post.urlsPodfm
                    object#slide_426778(data='http://file.podfm.ru/player.swf', type='application/x-shockwave-flash', width='450', height='53')
                        param(name='align', value='middle')
                        param(name='allowScriptAccess', value='always')
                        param(name='menu', value='false')
                        param(name='WMode', value='transparent')
                        param(name='quality', value='high')
                        param(name='FlashVars', value='xmlurl=' + url)
                        param(name='name', value='slide_426778')
                        param(name='flashvars', value='xmlurl=' + url)
                        param(name='wmode', value='transparent')
                        param(name='movie', value='http://file.podfm.ru/player.swf')


    .article-footer
        h3.relatedpost Похожие статьи
        .related-content
            each relatedPost, i in viewModel.relatedPosts
                a(href=relatedPost.key)
                    if relatedPost.image && relatedPost.image.filename
                        img(src=siteConst.path.image_posts + relatedPost.image.filename)
                    else
                        if relatedPost.author && relatedPost.author.photo && relatedPost.author.photo.filename
                                img(src=siteConst.path.image_users + relatedPost.author.photo.filename, alt=relatedPost.author.name.full)                    

                    div.relatedtitle= relatedPost.name
            .clear

    include partial/blog-comments.pug

