extends layout.pug

block content
    -- console.log(viewModel.post)
    .article
        h1.under-line= viewModel.post.name
        div.article-body
            if (viewModel.post.image.filename && siteConst.path.image_posts + viewModel.post.image.filename.exists)
                img(src=siteConst.path.image_posts + viewModel.post.image.filename).main-img
            div.content
                | !{viewModel.post.content.full}


        .files-audio
            if (viewModel.post.file0.filename)
                audio(controls  preload="none")
                    source(src=siteConst.path.file_posts + viewModel.post.file0.filename, type=viewModel.post.file0.mimetype)
                    | Тег audio не поддерживается вашим браузером.
                    <a href=#{siteConst.path.file_posts + viewModel.post.file0.filename}>Скачайте файл</a>.

            if (viewModel.post.file1.filename)
                audio(controls  preload="none")
                    source(src=siteConst.path.file_posts + viewModel.post.file1.filename, type=viewModel.post.file1.mimetype)
                    | Тег audio не поддерживается вашим браузером.
                    <a href=#{siteConst.path.file_posts + viewModel.post.file1.filename}>Скачайте файл</a>.

            if (viewModel.post.file2.filename)
                audio(controls  preload="none")
                    source(src=siteConst.path.file_posts + viewModel.post.file2.filename, type=viewModel.post.file2.mimetype)
                    | Тег audio не поддерживается вашим браузером.
                    <a href=#{siteConst.path.file_posts + viewModel.post.file2.filename}>Скачайте файл</a>.

            if (viewModel.post.file3.filename)
                audio(controls  preload="none")
                    source(src=siteConst.path.file_posts + viewModel.post.file3.filename, type=viewModel.post.file3.mimetype)
                    | Тег audio не поддерживается вашим браузером.
                    <a href=#{siteConst.path.file_posts + viewModel.post.file3.filename}>Скачайте файл</a>.



        if (viewModel.post.urls.length)
            .files-audio
                each url, i in viewModel.post.urls
                    audio(controls  preload="none")
                        source(src=url, type="audio/mpeg")
                        | Тег audio не поддерживается вашим браузером. 
                        <a href=#{url}>Скачайте файл</a>.

            .files-download
                | Файлы для скачивания:

                each url, i in viewModel.post.urls
                    a(href=url) !{ siteUtils.getUrlTitle(url, 'Скачать файл') }

        if (viewModel.post.urlsPodfm.length)
            each url, i in viewModel.post.urlsPodfm
                object#slide_426778(data='http://file.podfm.ru/player.swf', type='application/x-shockwave-flash', width='450', height='53')
                    param(name='align', value='middle')
                    param(name='allowScriptAccess', value='always')
                    param(name='menu', value='false')
                    param(name='WMode', value='transparent')
                    param(name='quality', value='high')
                    param(name='FlashVars', value='xmlurl=' + url)
                    param(name='name', value='slide_426778')
                    param(name='flashvars', value='xmlurl=' + url)
                    param(name='wmode', value='transparent')
                    param(name='movie', value='http://file.podfm.ru/player.swf')


    .article-footer
        h3.relatedpost Похожие статьи
        .related-content
            each relatedPost, i in viewModel.relatedPosts
                a(href=relatedPost.key)
                    if relatedPost.image && relatedPost.image.filename
                        img(src=siteConst.path.image_posts + relatedPost.image.filename)
                    else
                        if relatedPost.author && relatedPost.author.photo && relatedPost.author.photo.filename
                                img(src=siteConst.path.image_users + relatedPost.author.photo.filename, alt=relatedPost.author.name.full)                    

                    div.relatedtitle= relatedPost.name
            .clear

    include partial/blog-comments.pug

