extends layout.pug

//- можно добавить кол-во фоток в альбоме


block content

    .photo-albums

        ul.polaroids
            if viewModel.galleries.length
                each gallery, i in viewModel.galleries
                    //-- console.log('gallery', gallery.uploadFiles[0])
                    li
                        a(title=gallery.name, href='/gallery/' + gallery.key)
                            if (gallery.uploadFiles[0])
                                img(src=siteConst.path.image_gallery + gallery.name + '/preview/' + gallery.uploadFiles[0].filename)
                            else
                                img(src='/../assets/img/upload_empty_folder.png')

                            if loginUser && loginUser.canAccessKeystone
                                div(data-gallery-key=gallery.key).btn-normal.update-album Обновить
                                div(data-gallery-key=gallery.key).btn-normal.delete-album Удалить
                                

                li
                    div.polaroid-new-gallery#polaroid-new-gallery
                        img(src='/../assets/img/upload_add.png')
                        if loginUser && loginUser.canAccessKeystone
                            div Добавить галерею


            else
                h3(style="margin-bottom:0;margin-top:0;") Альбомы еще не созданы.
            
            .clear


        .admin-gallery
            span Альбомы не включенные в базу данных
            if viewModel.dirIsNotInDB && viewModel.dirIsNotInDB.length
                ul.dir-list
                    each dir, i in viewModel.dirIsNotInDB
                        li
                            .dir-name=dir
                            .dir-action(data-gallery-dir=dir).btn-normal.update-album Добавить

            else
                h3(style="margin-bottom:0;margin-top:0;") Все альбомы включены в базу данных.

        //li
        //    a(title='Heading Level', href='photo-album.html')
        //        img(src='../assets/img/banner/banner01.jpg')