
extends layout.pug

block content

  #slide.slider
      // start Basic Jquery Slider
      // image size: 620 x 310
      ul.bjqs
          //-- console.log('viewModel.lastPosts', viewModel.lastPosts);

          if (viewModel.mainBanner.photos && viewModel.mainBanner.photos.length)
              each bannerPhoto, i in viewModel.mainBanner.photos
                  li
                      a(href='')
                          img.fpimg(src=siteConst.path.image_gallery + viewModel.mainBanner.galleryName + '/' + bannerPhoto, style='width:100%;')
                      //h2.featured-title
                          a(href='') Наши фотографии

      // end Basic jQuery Slider
  .blog-posts
      ul.main-posts.clearfix
         li
            .wrap-img
               a(href='/blog/category/sermons')
                  img(src='http://cdn.tvc.ru/pictures/o/195/709.jpg', alt='Проповеди')
            .entry-container
               h3.entry-title
                  a(href='/blog/category/sermons') Проповеди
               p.entry-short-description
                  | Этот раздел содержит проповеди, отражающие духовные проблемы верующих людей, с целью разобраться в их причинах.
         
         li
            .wrap-img
               a(href='/blog/category/news')
                  img(src='http://hronika.info/uploads/posts/2015-09/1442829655_marsh.jpg', alt='Новости')
            .entry-container
               h3.entry-title
                  a(href='/blog/category/news') Новости
               p.entry-short-description
                  | Делимся событиями нашей жизни.         
 
         li
            .wrap-img
               a(href='/blog/category/service')
                  img(src='https://krugomgolova.club/images/36e2b914-2928-4ed9-9d76-31c725d1fe4a.jpg', alt='Служения')
            .entry-container
               h3.entry-title
                  a(href='/blog/category/service') Служения
               p.entry-short-description
                  | Каждому человеку дан дар от Бога, и любовь состоит в том, чтобы служить ближнему этим даром.
                  | В нашей церкви вы можете принять участие или получить восполнение своей нужды в таких служениях как:
                  | детская воскресная школа; служение  для семейных пар и тех, кто желает создать семью; служение людям, имеющим любого рода зависимость и их родственникам;
                  | служение для людей, которые находятся в местах лишения свободы; служение в больницах и детских домах;  молодежное служение;
                  | проведение семинаров на различные темы для подростков и молодежи в школах и других учебных заведениях; служение в домашних группах.

         
         li
            .wrap-img
               a(href='/blog/category/testimonies')
                  img(src='https://thumbs.dreamstime.com/t/%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B2%D1%8C%D1%8E-%D1%87%D0%B5-%D0%BE%D0%B2%D0%B5%D0%BA%D0%B0-36350597.jpg', alt='Свидетельства')
            .entry-container
               h3.entry-title
                  a(href='/blog/category/testimonies') Свидетельства
               p.entry-short-description
                  | Жизнь с Богом - это удивительное, увлекательное, полное чудес приключение. А знаете почему? Потому что настоящая жизнь с Господом - это живые отношения с Ним! 
                  | Когда ты говоришь Богу и Бог говорит тебе. Когда даже посреди бурь ты можешь оставаться в покое, имея твердое основание Божьего обещания: "не оставлю тебя и не покину!"
                  | Не верите? Тогда смело заглядывайте сюда, и вы найдете рассказы из жизни простых людей, доверившихся Богу в своей ситуации, и получивших свое чудо! 
                

      h2 Последние события
      ul.clearfix
         each lastPost, i in viewModel.lastPosts.results
            li
               .wrap-img
                     a(href=siteConst.routes.blog_post + lastPost.key)
                        if lastPost.image && lastPost.image.filename
                           img(src=siteConst.path.image_posts + lastPost.image.filename)
                        else
                           if lastPost.author && lastPost.author.photo && lastPost.author.photo.filename
                                 img(src=siteConst.path.image_users + lastPost.author.photo.filename, alt=lastPost.author.name.full).author-img                                
                                 img(src='http://img0.liveinternet.ru/images/attach/c/8/102/70/102070604_Kak_sdelat_vintazhnuyy_svitok_iz_bumagi__1_.jpg')


               .entry-container
                     h3.entry-title
                        a(href=siteConst.routes.blog_post + lastPost.key)=lastPost.name
                     .entry-short-description !{lastPost.content.brief}

                     //p.entry-short-description // old version becouse tinymce adds tag p which wrapped text string
                        | #{lastPost.content.brief}

               .item-label
                  if lastPost.publishedDate || lastPost.author
                     if lastPost.author
                           | #{lastPost.author.name.full}

                     if lastPost.publishedDate
                           | #{ ' - ' + lastPost._.publishedDate.format('MM/D/YYYY')}


  .clear
  .blog-pager
      //span.showpageOf Page 1 of 5
      //span.showpageNum
      //    a(href='#', onclick='redirectpage(0);return false') «
      //span.showpageNum
      //    a(href='#', onclick='redirectpage(1);return false') 1
      //span.showpagePoint
      //    a(href='#', onclick='redirectpage(2);return false') 2
      //span.showpageNum
      //    a(href='#', onclick='redirectpage(3);return false') 3
      //span.showpageNum
      //    a(href='#', onclick='redirectpage(5);return false') 5
      //span.showpageNum
      //    a(href='#', onclick='redirectpage(2);return false') »


      if viewModel.lastPosts.totalPages > 1
          if viewModel.lastPosts.previous
              span: a(href='?page=' + viewModel.lastPosts.previous): span.glyphicon.glyphicon-chevron-left
          else
              span.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left


          each p, i in viewModel.lastPosts.pages
              span(class=viewModel.lastPosts.currentPage === p ? 'showpagePoint' : 'showpageNum')
                  a(href='?page=' + (p === '...' ? (i ? viewModel.lastPosts.totalPages : 1) : p ))= p


          if viewModel.lastPosts.next
              span: a(href='?page=' + viewModel.lastPosts.next): span.glyphicon.glyphicon-chevron-right
          else
              span.disabled: a(href='?page=' + viewModel.lastPosts.totalPages): span.glyphicon.glyphicon-chevron-right
