
.big-list
    if (!viewModel.items.results.length)
        .data-empty
            | Поиск не дал результатов
    
    if (viewModel.items.results.length)
        ul
            each listItem, i in viewModel.items.results

                -- console.log('listItem', listItem)

                li.list-item
                    h3.entry-title
                        a(href=siteConst.routes.blog_post + listItem.key)
                            | #{listItem.name}
                    .wrap-img
                        a(href=siteConst.routes.blog_post + listItem.key)
                            if listItem.image.filename
                                img(src='/uploads/posts/img/' + listItem.image.filename)
                            else
                                img(src=siteConst.path.image_users + listItem.author.photo.filename, alt=listItem.author.name.full)
                    .info
                        if listItem.publishedDate || listItem.author
                            if listItem.author
                                | #{listItem.author.name.full}

                            if listItem.publishedDate
                                | #{ ' - ' + listItem._.publishedDate.format('MM, D, YYYY')}

                    .entry-container
                        | !{listItem.content.brief}
                    a(href=siteConst.routes.blog_post + listItem.key) читать полностью
                    if (listItem.tags && listItem.tags.length)
                        .tags.cloud-labels
                            ul
                                each tag, i in listItem.tags
                                    li
                                        a(href=siteConst.routes.tag + tag.key)=tag.name
                        .clear
                    .clear

.clear


if viewModel.items.totalPages > 1
    .blog-pager


        if viewModel.items.previous
            span: a(href='?page=' + viewModel.items.previous): span.glyphicon.glyphicon-chevron-left
        else
            span.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left


        each p, i in viewModel.items.pages
            span(class=viewModel.items.currentPage === p ? 'showpagePoint' : 'showpageNum')
                a(href='?page=' + (p === '...' ? (i ? viewModel.items.totalPages : 1) : p ))= p


        if viewModel.items.next
            span: a(href='?page=' + viewModel.items.next): span.glyphicon.glyphicon-chevron-right
        else
            span.disabled: a(href='?page=' + viewModel.items.totalPages): span.glyphicon.glyphicon-chevron-right




    //span.showpageOf Page 1 of 5
    //span.showpageNum
    //    a(href='#', onclick='redirectpage(0);return false') «
    //span.showpageNum
    //    a(href='#', onclick='redirectpage(1);return false') 1
    //span.showpagePoint
    //    a(href='#', onclick='redirectpage(2);return false') 2
    //span.showpageNum
    //    a(href='#', onclick='redirectpage(3);return false') 3
    //span.showpageNum
    //    a(href='#', onclick='redirectpage(5);return false') 5
    //span.showpageNum
    //    a(href='#', onclick='redirectpage(2);return false') »
