.widget.about-us
    h2 наше служение
    .widget-content.clearfix
        | Христианская церковь полного Евангелия "Свет Миру" открыта для каждого человека, желающего услышать истину Слова Божьего, узнать больше о Боге и о спасении, 
        | и изменить свою жизнь. 
        | Церковь - это не здание, это люди, собравшиеся вместе во имя Господа Иисуса Христа. И в основании церкви лежат не религиозные традиции и обряды, а Слово Божье - Библия. 
        | Господь любит и призывает к Себе каждого человека. 
        //| Он хочет, чтобы все люди спаслись. Для этого Он отдал Свою жизнь. 
        | Он создал на земле церковь и сказал, что "врата ада не одолеют ее"! 
        | Ад - это не только место мучения в вечности. Зачастую ад начинается здесь, в наших душах, если мы живем без Божьей любви. 
        | И церковь -  это место, где мы познаем эту любовь, любовь к Нему и к своим ближним.
        br
        br
        | В церкви функционируют разные служения, в которых любой человек сможет найти свою возможность принести добрые плоды, например служение прославления, 
        | воскресная школа для детей, библейская школа, домашние группы и т.д. Приходите, и Господь поможет Вам открыть в себе весь потенциал
        //| , 
        //| который Он вложил в Вас, когда создавал.
        //| Служители церкви всегда готовы посетить больных, помолиться за Ваши нужды, проконсультировать в духовных вопросах.  
        | Наши сердца всегда открыты для Вас!
        
.widget.popular-posts
    h2 популярные посты
    .widget-content.clearfix
        ul
            each popularPost, i in viewModel.mostPopularPosts

                li
                    a(href=siteConst.routes.blog_post + popularPost.key)
                        | !{siteUtils.getCategoryTitle(popularPost.categories, popularPost.name)}


.widget.cloud-labels
    h2 Метки
    .widget-content.clearfix
        ul
            each tag, i in viewModel.allTags
                li
                    a(href=siteConst.routes.tag + tag.key)=tag.name

.widget.cloud-authors
    h2 Авторы
    .widget-content.clearfix
        ul
            each user in viewModel.allUsers
                li
                    a(href='/blog/author/' + user.key)
                        img(src=siteConst.path.image_users + user.photo.filename, alt=user.name.full)
                        span.title=user.name.full