.widget.about-us
    h2 наше служение
    .widget-content.clearfix
        | Богослужения проходят каждое воскресенье в 12-00 по адресу: г.Минск ул.Медвежино 11/3. Служители
        | нашей церкви готовы посетить больных, оказать им молитвенную поддержку и другую посильную
        | помощь.
        | Богослужения проходят каждое воскресенье в 12-00 по адресу: г.Минск ул.Медвежино 11/3. Служители
        | нашей церкви готовы посетить больных, оказать им молитвенную поддержку и другую посильную
        | помощь.
        br
        br
        | Богослужения проходят каждое воскресенье в 12-00 по адресу: г.Минск ул.Медвежино 11/3. Служители
        | нашей церкви готовы посетить больных, оказать им молитвенную поддержку и другую посильную
        | помощь.
        
.widget.popular-posts
    h2 популярные посты
    .widget-content.clearfix
        ul
            each popularPost, i in viewModel.mostPopularPosts

                li
                    a(href=siteConst.routes.blog_post + popularPost.key)
                        | !{siteUtils.getCategoryTitle(popularPost.categories, popularPost.name)}


.widget.cloud-labels
    h2 Метки
    .widget-content.clearfix
        ul
            each tag, i in viewModel.allTags
                li
                    a(href=siteConst.routes.tag + tag.key)=tag.name

.widget.cloud-authors
    h2 Авторы
    .widget-content.clearfix
        ul
            each user in viewModel.allUsers
                li
                    a(href='/blog/author/' + user.key)
                        img(src=siteConst.path.image_users + user.photo.filename, alt=user.name.full)
                        span.title=user.name.full